.main {
    width: 700px;
    height: 700px;
}

.top {
    width: 100%;
    height: 10%;
    background-color: lightgray;
    position: relative;
}

.square {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 15px;
    background-color: cornflowerblue;

}

.text-space {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.first {
    width: 100%;
    height: 15%;
    background-color: cornflowerblue;
}

.second {
    width: 100%;
    height: 15%;
    background-color: mediumturquoise;
}

.third {
    width: 100%;
    height: 15%;
    background-color: lightgreen
}

.fourth {
    width: 100%;
    height: 15%;
    background-color: greenyellow;
}

.text {
    font-family: sans-serif;
    padding-right: 35px;
    padding-left: 35px;
}